$border:5px;
$dark: #333;
$neon: #1bffff;
//$neon: #ed1e79;
//$neon: #009245;
body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, $dark, #5a5454);
}
button {
  font-family: 'Gochi Hand', cursive;
  position: relative;
  color: $neon;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 100px;
  letter-spacing: 3px;
  overflow: hidden;
  padding: 5% 10%;
  cursor: pointer;
  border: none;
  transition: .6s ease;

  &:hover {
    color: $dark;
    background-color: $neon;
    transition-delay: .5s;
    box-shadow: 0 0 10px $neon,
    0 0 40px $neon,
    0 0 80px $neon;

    span {
      &:nth-child(1) {
        left: 100%;
      }

      &:nth-child(2) {
        top: 100%;
      }

      &:nth-child(3) {
        right: 100%;
      }

      &:nth-child(4) {
        bottom: 100%;
      }
    }
  }

  span {
    display: block;
    position: absolute;
    transition: .6s ease;

    &:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: $border;
      background: linear-gradient(90deg, transparent, $neon);
      transition-delay: .25s;
    }
    &:nth-child(2) {
      top: -100%;
      right: 0;
      width: $border;
      height: 100%;
      background: linear-gradient(180deg, transparent, $neon);
    }
    &:nth-child(3) {
      bottom: 0;
      right: 100%;
      width: 100%;
      height: $border;
      background: linear-gradient(270deg, transparent, $neon);
      transition-delay: .25s;
    }
    &:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: $border;
      height: 100%;
      background: linear-gradient(0deg, transparent, $neon);
    }
  }
}



